
.Logo {
    background-color: rgb(6, 6, 122);
    color: aliceblue;
    }
    
.Estilo {
    color: rgb(22, 0, 131);

}

.Estilo_serviços {
    color: rgb(1, 1, 118);
    background-color: rgb(236, 249, 248);
}

.Estilo_nome {
    color: rgb(43, 0, 255);

}

.Estilo_projetos {
    background-color: rgb(245, 246, 246);
}